:root{
    --dark: #374151;
    --darker: #1F2935;
    --darkest: #111827;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
    --gray: #6B7280;
}

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: #fff;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
#new-task-form{
    display: flex;
}
input, button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
#new-task-input{
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

#new-task-input::placeholder{
    color: var(--gray);
}
#new-task-submit{
    color: var(--pink);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new-task-submit:hover{
opacity: 0.8;

}
#new-task-submit:active{
opacity: 0.6;

}
main{
    flex: 1 1 0%;
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.task-list{
    padding: 1rem;
}
.task-list h2{
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}
.Colorbtn{
    cursor: pointer;
}
.task{
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest) !important;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    
}

.text{
    color: var(--light);
    font-size: 1.125rem;
    
    display: block;
    transition: 0.4s;
}
.text:not(:read-only){
    color: var(--pink);
}
.action button{
cursor: pointer;
margin: 0 0.5rem;
font-size: 1.125rem;
font-weight: 700;
text-transform: uppercase;
}

.action button:hover{
    opacity: 0.8;
    
    }
    .action button:active{
    opacity: 0.6;
    
    }
    .edit{
        background-image: linear-gradient(to right, var(--pink), var(--purple));
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    .delete{
        color: crimson;
    }
    h4{
        display: none;
    }

    @media only screen and (max-width:576px) {
        #new-task-input{
            width: 280px !important;
        }
        .action button{
            cursor: pointer;
            margin: 0 0.5rem;
            font-size: 15px !important;
            font-weight: 700;
            text-transform: uppercase;
            }
           h4{
            display: contents;
            color: var(--gray);
           }
      header h1{
        display: none;
      }
      h1{
        display: none;
      }
      h4.Colorbtn{
        color: white;
       margin-left: 50px !important;
      }
      .task{
        width: fit-content !important;
        margin: auto !important;
        height: fit-content !important;
        margin-top: 20px !important;
      }
      #tasks{
        width: 80% !important;
      }
      .action{
        width: 30% !important;
        display: flex !important;
        justify-content: space-between !important;
      }
    }